* {
	margin: 0;
	padding: 0;
}
.container {
	font-size: 14px;
}
.header {
	height: 54px;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid #dbdbdb;
	align-items: center;
	padding: 0 20%;
}
.logo {
	height: 40px;
	width: 120px;
	background-image: url(./logo.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.tool-icons {
	display: flex;
}
.icon {
	height: 22px;	
	width: 40px;
	background-size: contain;
	background-repeat: no-repeat;
}
.home-icon {
	background-image: url(./home.svg);
}
.send-icon {
	background-image: url(./send-white.svg);
}
.compass-icon {
	background-image: url(./compass.svg);
}
.love-icon {
	background-image: url(./love.svg);
}
.tool-icons img {
	border-radius: 50%;
}
.header input {
  width: 215px;
  height: 28px;
  padding-left: 80px;
  box-sizing: border-box;
  background: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_search_48px-128.png);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 62px 5px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
}
.header input:focus {
  padding-left: 16px;
  background-position: 0;
}


/* */
.profile {
	margin: 60px 0 10px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.img-profile img {
  border-radius: 50%;
}
.information {
	margin-left: 20px;
	font-size: 12px;
    color: #8e8e8e;
}
.information > :first-child {
	color: rgba(var(--i1d,38,38,38),1);
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 2px;
}


.suggestions {
	width: 250px;
}
.sug {
	margin-top: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  	padding-left: 10px;
  	color: rgba(var(--i1d,38,38,38),1);
  	font-size: 12px;
}
.suggestions-header{
  	font-weight: 600;

}
.suggestions-main {
	margin-top: 15px;
}
.suggestions-header > :first-child {
	color: rgba(var(--f52,142,142,142),1);
	font-size: 16px;
}
.suggestions-main .friend-suggestions{
	display: flex;
  	align-items: center;
}
.img-friend img {
  border-radius: 50%;
}
.information-friend {
	margin-left: 10px;
	font-size: 12px;
    color: #8e8e8e;
}
.information-friend > :first-child {
	color: rgba(var(--i1d,38,38,38),1);
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 2px;
}
.follow-friend {
	color: rgba(var(--d69,0,149,246),1);
	font-weight: 600;
}



.list-about,
.bottom-about {
	list-style: none;
	display: flex;
	padding: 0;
	width: 250px;
	flex-wrap: wrap;
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: rgba(var(--edc,199,199,199),1);
    font-size: 11px;
    font-weight: 400;
    padding-inline-start: 5px;
    margin-top: 25px;
}
li:not(:last-of-type)::after {
    content: '\00B7';
    margin: 0 .25em 0 .25em;
}
.top-about ul {
	line-height: 1.7;
}


.main {
	margin: 30px 20px 0 auto;
}
.list-story {
	display: inline-flex;
	border: 1px solid #dbdbdb;
	width: 614px;
	justify-content: space-between;
	margin-bottom: 20px;
}
.img-story img{
	border-radius: 50%;
}
.story {
	margin: 20px 0;
	width: 80px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.name-story {
	max-width: 74px;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	margin-top: 5px;
}
.border-gradient {
	display: inline-flex;
 	align-items: center; 
 	justify-content: center; 
	padding: 2px;
	border-radius: 50%;
  background-image: radial-gradient(circle, #dc3170, #f99948, #c92d8c);
}
.border-space {
	display: inline-flex;
 	align-items: center; 
 	justify-content: center; 
	padding: 2px;
	border-radius: 50%;
	background: #fff;
}

/*button.slick-next, button.slick-next:hover {
  position: absolute;
  top: 50%;
  right: 5px;
}
button.slick-prev, button.slick-prev:hover {
  position: absolute;
  top: 50%;
  left: 5px;
  z-index: 1;
}*/

.header-post {
	display: flex;
	width: 582px;
	height: 27px;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	border-radius: 3px;
	border: 1px solid #dbdbdb;
}
.img-story {
	margin-right: 10px;
}
.avatar-post {
	display: flex;
	align-items: center;
}
.avatar-post img{
	border-radius: 50%;
}
.border-gradient {
	display: inline-flex;
 	align-items: center; 
 	justify-content: center; 
	padding: 2px;
	border-radius: 50%;
  background-image: radial-gradient(circle, #dc3170, #f99948, #c92d8c);
}
.border-space {
	display: inline-flex;
 	align-items: center; 
 	justify-content: center; 
	padding: 2px;
	border-radius: 50%;
	background: #fff;
}
.img-post {
	width: 614px;
	height: 766px;
	border-radius: 3px;
	border: 1px solid #dbdbdb;
}
.footer-post {
	border-radius: 3px;
	border: 1px solid #dbdbdb;
	width: 616px;
	padding: 0 16px;
	box-sizing: border-box;
}
.top-footer {
	width: 580px;
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top-footer .icon-left {
	height: 100%;
}
.icon-right i {
	font-size: 22px;
}
.top-footer img {
	height: 60%;
	margin: 8px 16px 8px 0;
}
.like-of-post img {
	border-radius: 50%;
	margin-right: 5px;
}
.like-of-post {
	display: inline-flex;
	align-items: center;
	margin-bottom: 8px;`
}
span {
	font-weight: 600;
}
.view-all {
    color: rgba(var(--fe0,0,55,107),1);
    margin: 4px 0;
}
.time-post {
	font-size: 10px;
	margin: 10px 0;
}
.input-comments {
	width: 616px;
	height: 56px;
	display: inline-flex;
	padding-right: 16px;
	box-sizing: border-box;
	align-items: center;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #dbdbdb;
	box-sizing: border-box;
}
.input-comments input {
	outline: none;
	float: left;
	flex-grow: 1;
	padding: 0 16px;
	margin-top: 4px;
	border-width: 0px;
	/*height: 56px;*/
}
.post-comment {
	font-weight: bold;
	color: rgba(var(--d69,0,149,246),1);
	opacity: .3;
}